
body {
    background-color: #ebebeb;
}

.nav-color {
    background-color: #fff;
}

.radius50 {
    border-radius: 50px;
}

.shadow12104 {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.streatch-input {
    /*margin:0 auto;*/
    position: absolute;
    top: 10px;
    right: 0;

    width: 12em;

    /*transition-property: left;*/
    /*transition-duration: 2s;*/
    -webkit-transition: 0.3s; /* Safari */
    transition: 0.3s;
}

.streatch-input:focus {
    width: 24em;
}